@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

:root{
    --light-grey: #1e1e1e;
    --dark-grey: #171717;
    --darker-grey: #121212;
    --link-blue:#6f87bf;
    --dark-blue: #0b131e;
    --light-beige: #deddd0;
    --dark-beige: #818181;
    --darker-beige: #282725;
    
    --standard-margin: 15%;
    --standard-indentation: 20px;
    --background-color: var(--darker-grey);
    --text-color: var(--light-beige);
    --title-color: var(--dark-beige);
    --secondary-color: var(--light-grey);
    --primary-blue: var(--link-blue);
    --contrast-dark : var(--dark-grey);

    background-color: var(--background-color);
    scrollbar-color: var(--secondary-color) var(--background-color);
    color: var(--text-color);
    font-family: RobotoRegular;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scrollbar-width: auto;
}



/* ---------- Scrollbar ---------- */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 14px;
    border: 0px none var(--background-color);
}



/* ---------- Main Page ---------- */
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1rem;
    padding-top: 60px;
}

.header{
    display: grid;
    grid-template-columns: 14fr 100px 2fr;
    margin: 0 var(--standard-margin);
}

.header > *{
    color: var( --title-color);
}

.headerSpan{
    color: var( --title-color);
    font-family: Roboto;
    text-decoration: none;
}

.headerSpan:hover{
    text-decoration: none;
}

.wrapper, .date, .blogLink{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: Roboto;
}

.dateData{
    font-size: 1.1rem;
    font-family: Roboto;
    color: var( --title-color);
}

.title{
    margin: 0 var(--standard-margin);
    font-family: Roboto;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 30px var(--standard-margin);
    line-height: 1.6;
    color: white;
    margin-bottom: 30px;
}

code {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
code { 
    display: none;  /* Safari and Chrome */
}

.languageToogler{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--text-color) solid 2px;
    border-radius: 5px;
    padding: 0 10px;
    margin: auto;
}
.languageToogler a{
    color: var(--text-color);
    text-decoration: none;
}

.languageToogler a:hover{
    text-decoration: none;
}

.languageToogler svg{
    vertical-align: bottom;
}

@media (max-width: 1500px) {
    :root {
        --standard-margin: 10%;
      }
}

@media (max-width: 1200px) {
    :root {
        --standard-margin: 5%;
    }
}

@media (max-width: 950px) {
    :root {
    --standard-margin: 4%;
    }
}

@media (max-width: 580px) {
    .header{
        display:flex;
        flex-wrap: wrap;
        gap: 10px;
    }        
}

@media (max-width: 380px) {
    .languageToogler{
        margin: 0 0;
    }

}

/* ---------- Styles ---------- */

code{
    border-radius: var(--standard-indentation);
    padding: calc(var(--standard-indentation)/2) var(--standard-indentation);
    width: 100%;
    display: block;
    background-color: var(--contrast-dark);
    font-family: RobotoMono;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow-x: scroll;
}

u{
    background-color: var(--contrast-dark);
    padding: 2px 4px;
    border-radius: 4px;
}

a{
    color: var(--link-blue);
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

kbd{
    background-color: black;
    padding: 2px 4px;
    border-radius: 4px;
}

blockquote{
    margin: 2px var(--standard-indentation);
    padding: 12px 24px;
    border-left: 2px solid var(--text-color);
}

table{
    margin: 0px 0px 0px var(--standard-indentation);
    border-spacing: 0;
    border-collapse: collapse;
}

caption{
    text-align: left;
    font-size: 15px;
}

small{
    text-align: left;
    margin: 0 0 var(--standard-indentation) var(--standard-indentation);
    font-size: 15px;
}

th, td {
  border: 1.5px solid var(--text-color);
  padding: 2px 2px 2px 12px;
  font-size: 16px;
}