@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

:root{
    --ghost-white: #F2F2F2;
    --subtle-grey: #E0E0E0;
    --light-grey: #1e1e1e;
    --dark-grey: #171717;
    --darker-grey: #121212;

    --white-blue: #afc3c0;
    --link-blue:#6f87bf;
    --dark-blue: #0b131e;

    --light-beige: #deddd0;
    --dark-beige: #818181;
    --darker-beige: #282725;
    
    --standard-margin: clamp(4%, calc(4% + 160 * ((100vw - 950px) / 600)), 20%);
    --font-min: 0.9rem;
    --font-clamp: 2.5vw;
    --font-max: 1rem;
    --standard-indentation: 20px;

    --background-color: var(--darker-grey);
    --text-color: var(--subtle-grey);
    --title-color: var(--ghost-white);
    --header-color: var(--dark-beige);
    --secondary-color: var(--dark-beige);
    --primary-blue: var(--link-blue);
    --contrast-dark : var(--dark-grey);

    background-color: var(--background-color);
    scrollbar-color: var(--secondary-color) var(--background-color);
    color: var(--text-color);
    font-family: RobotoRegular;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scrollbar-width: auto;
}



/* ---------- Scrollbar ---------- */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border: 0px none var(--background-color);
}



/* ---------- Main Page ---------- */
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: clamp(var(--font-min), var(--font-clamp), var(--font-max));
    padding-top: 60px;
}

.header{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 var(--standard-margin);
    color: var(--header-color); 
    font-family: Roboto;
}

.wrapper, .date, .blogLink{
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.languageToogler{
    font-size: clamp(var(--font-min), var(--font-clamp), var(--font-max));
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--header-color)  solid 2px;
    border-radius: 5px;
    padding: 0 10px;
    margin-left: auto;
}
.languageToogler a{
    color: var(--header-color); 
}

.languageToogler svg{
    vertical-align: bottom;
}

.dateData{
    font-size: clamp(calc(var(--font-min) - 0.1rem), calc(var(--font-clamp) - 0.1rem), calc(var(--font-max) - 0.1rem));
}

.title{
    margin: 0 var(--standard-margin);
    font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    padding: 30px var(--standard-margin);
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 30px;
}



/* ---------- Styles ---------- */
code{
    border-radius: var(--standard-indentation);
    padding: calc(var(--standard-indentation)/2) var(--standard-indentation);
    width: 100%;
    display: block;
    background-color: var(--contrast-dark);
    font-family: RobotoMono;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: none;  /* Safari and Chrome */
}

u{
    background-color: var(--contrast-dark);
    padding: 2px 4px;
    border-radius: 4px;
}

a{
    color: var(--link-blue);
    cursor: pointer;
}

a:hover{
    opacity:80%;
}

kbd{
    background-color: black;
    padding: 2px 4px;
    border-radius: 4px;
}

blockquote{
    margin: 2px var(--standard-indentation);
    padding: 12px 24px;
    border-left: 2px solid var(--text-color);
}

table{
    margin: 0px 0px 0px var(--standard-indentation);
    border-spacing: 0;
    border-collapse: collapse;
}

small{
    padding: 0 calc(var(--standard-indentation)) var(--standard-indentation) var(--standard-indentation);
    font-size: clamp(calc(var(--font-min) - 0.15rem), calc(var(--font-clamp) - 0.15rem), calc(var(--font-max) - 0.15rem));
}

.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

p{
    overflow-x: auto;
    padding: 5px 0;
}

caption{
    text-align: left;
    font-size: clamp(var(--font-min), var(--font-clamp), var(--font-max));
}

table{
    margin: 0px auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-wrapper {
    overflow-x: auto;
    margin: 1.2rem 0 0.75rem 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

th, td {
    border: 1.5px solid var(--text-color);
    padding: 2px 2px 2px 12px;
    font-size: clamp(calc(var(--font-min) - 0.05rem), calc(var(--font-clamp) - 0.05rem), calc(var(--font-max)-0.05rem));
}
